project:
  type: website
  resources: 
    - CNAME

website:
  title: "quarto-webr"
  reader-mode: true
  repo-url: https://github.com/coatless/quarto-webr
  repo-actions: [edit, issue]
  repo-subdir: "docs"
  google-analytics: "G-S8CXP9TZG0"
  sidebar:
    style: "floating"
    search: true
    tools:
      - icon: github
        href: https://github.com/coatless/quarto-webr/
    contents:
      - section: "Getting Started"
        contents:
          - href: qwebr-first-steps.qmd
            text: Your first webR-powered Quarto document
          - href: qwebr-code-cell-demos.qmd
            text: Exploring Interactive Code Cells
          - href: qwebr-using-r-packages.qmd
            text: Using R Packages
          - href: qwebr-internal-cell.qmd
            text: Hiding and Executing Code
          - href: qwebr-loading-data.qmd
            text: Loading Data      
      - section: "Options Reference"
        contents:
          - href: qwebr-meta-options.qmd
            text: Document Options
          - href: qwebr-cell-options.qmd
            text: Code Cell Options
      - section: "Demos"
        contents:
          - href: demos/qwebr-feature-demos.qmd
            text: Feature Demos
          - href: qwebr-community-examples.qmd
            text: Community Examples
      - section: "Deployment"
        contents:
          - href: qwebr-deployment-templates.qmd
            text: Templates
          - href: qwebr-theming.qmd
            text: Theming Elements
          - href: qwebr-communication-channels.qmd
            text: Communication Channels
      - section: "Support"
        contents:
          - href: qwebr-troubleshooting.qmd
            text: Troubleshooting
          - href: qwebr-faq.qmd
            text: FAQ
          - href: https://github.com/coatless/quarto-webr/issues/new
            text: Submit an issue
      - section: "Extra Information"
        contents:
          - href: qwebr-release-notes.qmd
            text: Release Notes
          - href: qwebr-acknowledgements.md
            text: Acknowledgements
          - href: qwebr-developer-resources.qmd
            text: Developer Resources
          - href: qwebr-extension-website.qmd
            text: Extension Website Notes
          - href: https://quarto-webr.thecoatlessprofessor.com/tests/
            text: Test Suite
  body-header: |
    :::{.callout-important}
    Looking for the official Quarto WebAssembly backend? Check out [`quarto-live`](https://github.com/r-wasm/quarto-live)!
    :::
  body-footer: |
    :::{.callout-important}
    This Quarto extension is open source software and is **not affiliated with** Posit, Quarto, or webR. The extension is at best a community effort to simplify the integration of webR inside of Quarto generated documents.
    :::
  
format:
  html:
    toc: true

# Allow quarto to switch between light and dark themes.
theme:
  light: cosmo
  dark: darkly