project:
  type: website
  resources: 
    - CNAME

website:
  title: "quarto-webr: A Quarto Extension for webR"
  reader-mode: true
  repo-url: https://github.com/coatless/quarto-webr
  repo-actions: [edit, issue]
  repo-subdir: "docs"
  sidebar:
    style: "floating"
    search: true
    tools:
      - icon: github
        href: https://github.com/coatless/quarto-webr/
    contents:
      - section: "Getting Started"
        contents:
          - href: webr-first-steps.qmd
            text: Your first webR-powered Quarto document
          - href: webr-meta-options.qmd
            text: Customization Options
          - href: webr-using-r-packages.qmd
            text: Using R Packages
          - href: webr-internal-cell.qmd
            text: Hiding and Executing Code
      - section: "Demos"
        contents:
          - href: webr-readme-example.qmd
            text: README Example      
          - href: webr-code-cell-demos.qmd
            text: Exploring Interactive Code Cells
      - section: "Deployment"
        contents:
          - href: webr-communication-channels.qmd
            text: Communication Channels
      - section: "Extra"
        contents:
          - href: webr-troubleshooting.qmd
            text: Troubleshooting
          - href: webr-developer-resources.qmd
            text: Developer Resources
          - href: webr-extension-website.qmd
            text: Setting up the Extension Website
          - href: webr-acknowledgements.md
            text: Acknowledgements

format:
  html:
    theme: cosmo
    css: styles.css
    toc: true
